<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zskjprojectj.andouclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/andou_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/andou_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>
        <activity android:name=".activity.mall.MallGoodsDetailsActivity"></activity>
        <activity android:name=".activity.hotel.HotelOnlineReserveActivity" />
        <activity android:name=".activity.hotel.HotelDetailFacilityActivity" /> <!-- 酒店详情-环境设施 -->
        <activity android:name=".activity.hotel.HotelDetailActivity" /> <!-- 酒店预约-详情页 -->
        <activity android:name=".activity.hotel.HotelPaySuccessActivity" />
        <activity android:name=".activity.hotel.HotelFilterActivity" /> <!-- 酒店预约-列表 -->
        <activity android:name=".activity.hotel.HotelActivity" /> <!-- 酒店预约-主页 -->
        <activity android:name=".activity.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- 注册界面 -->
        <activity android:name=".activity.RegisteredActivity" />

        <!-- 主界面 -->
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MerchantsInfoActivity" /> <!-- 菜市场模块 -->
        <activity android:name=".activity.VegetableMarketActivity" /> <!-- 直播界面 -->
        <activity android:name=".activity.LiveActivity" /> <!-- 外卖板块 -->
        <activity android:name=".activity.BookingorderActivity" /> <!-- 在线点餐模块 -->
        <activity android:name=".activity.OnlineBookingorderActivity" /> <!-- 我的发布 -->
        <activity android:name=".activity.MywalletActivity" /> <!-- 分享有礼 -->
        <activity android:name=".activity.InvitationActivity" /> <!-- 商城订单 -->
        <activity android:name=".activity.ShoporderActivity" /> <!-- 酒店订单 -->
        <activity android:name=".activity.HotelorderActivity" /> <!-- 美食订单 -->
        <activity android:name=".activity.FoodorderActivity" /> <!-- 我的钱包 -->
        <activity android:name=".activity.MyreleaseActivity" /> <!-- 余额充值 -->
        <activity android:name=".activity.BalanceofprepaidActivity" /> <!-- 在线商城 -->
        <!-- 在线商城主页 -->
        <activity android:name=".activity.BusinessdetailsActivity" /> <!-- 在线预订详情页 -->
        <activity android:name=".activity.OrederSubmitbooking" /> <!-- 订单提交 -->
        <activity android:name=".activity.OrdersuccessfullyActivity" /> <!-- 订单提交结果 -->
        <activity android:name=".activity.PlatformshoppingcartActivity" /> <!-- 购物车 -->
        <activity android:name=".activity.MycollectionActivity"/><!--我的收藏-->
        <activity android:name=".activity.BrowsingActivity"/><!--浏览痕迹-->
        <activity android:name=".activity.MyaddressActivity"/><!--我的地址-->
        <activity android:name=".activity.MyscoreActivity"/><!--我的积分-->
        <activity android:name=".activity.MymessageActivity"/><!--我的消息-->
        <activity android:name=".activity.BusinessresidenceActivity"/><!--商家入驻-->
        <activity android:name=".activity.RestaurantbusinessinActivity"/><!--在线预订商家-->
        <activity android:name=".activity.HotelbusinessinActivity"/><!--酒店商家入驻-->
        <activity android:name=".activity.MallmerchantsbusinessinActivity"/><!--商城商家入驻-->
        <activity android:name=".activity.DownloadappActivity"/><!--App下载页面-->
        <activity android:name=".activity.OperationvideoActivity"/><!--操作视频-->
        <activity android:name=".activity.RestaurantOrderActivity"/><!--饭店订单-->
        <activity android:name=".activity.MallMainActivity" /> <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>