<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zskjprojectj.andouclient">
    <!-- 拨打电话的权限，这里必须要添加权限，否则当点击电话号码的时候程序会崩溃 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/andou_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/andou_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".activity.CommentSuccessActivity"></activity>
        <activity android:name=".activity.mall.MallPaySuccessActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.mall.MallOnlineOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mall.MallShoppingHomeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity
            android:name=".activity.mall.MallGoodsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.hotel.HotelOnlineReserveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.hotel.HotelDetailFacilityActivity"
            android:screenOrientation="portrait" /> <!-- 酒店详情-环境设施 -->
        <activity
            android:name=".activity.hotel.HotelDetailActivity"
            android:screenOrientation="portrait" /> <!-- 酒店预约-详情页 -->
        <activity
            android:name=".activity.hotel.HotelPaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.hotel.HotelFilterActivity"
            android:screenOrientation="portrait" /> <!-- 酒店预约-列表 -->
        <activity
            android:name=".activity.hotel.HotelActivity"
            android:screenOrientation="portrait" /> <!-- 酒店预约-主页 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"></activity> <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisteredActivity"
            android:screenOrientation="portrait" /> <!-- 主界面 -->
        <activity
            android:name=".activity.ForgetActivity"
            android:screenOrientation="portrait" /> <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultCityPickerTheme"></activity>
        <activity
            android:name=".activity.MerchantsInfoActivity"
            android:screenOrientation="portrait" /> <!-- 菜市场模块 -->
        <activity
            android:name=".activity.VegetableMarketActivity"
            android:screenOrientation="portrait" /> <!-- 直播界面 -->
        <activity
            android:name=".activity.LiveActivity"
            android:screenOrientation="portrait" /> <!-- 外卖板块 -->
        <activity
            android:name=".activity.BookingorderActivity"
            android:screenOrientation="portrait" /> <!-- 在线点餐模块 -->
        <activity
            android:name=".activity.OnlineBookingorderActivity"
            android:screenOrientation="portrait" /> <!-- 我的发布 -->
        <activity
            android:name=".activity.MywalletActivity"
            android:screenOrientation="portrait" /> <!-- 分享有礼 -->
        <activity
            android:name=".activity.InvitationActivity"
            android:screenOrientation="portrait" /> <!-- 商城订单 -->
        <activity
            android:name=".activity.ShoporderActivity"
            android:screenOrientation="portrait" /> <!-- 酒店订单 -->
        <activity
            android:name=".activity.HotelorderActivity"
            android:screenOrientation="portrait" /> <!-- 美食订单 -->
        <activity
            android:name=".activity.FoodorderActivity"
            android:screenOrientation="portrait" /> <!-- 我的钱包 -->
        <activity
            android:name=".activity.MyreleaseActivity"
            android:screenOrientation="portrait" /> <!-- 余额充值 -->
        <activity
            android:name=".activity.BalanceofprepaidActivity"
            android:screenOrientation="portrait" /> <!-- 在线商城 -->
        <!-- 在线商城主页 -->
        <activity
            android:name=".activity.BusinessdetailsActivity"
            android:screenOrientation="portrait" /> <!-- 在线预订详情页 -->
        <activity
            android:name=".activity.OrederSubmitbooking"
            android:screenOrientation="portrait" /> <!-- 订单提交 -->
        <activity
            android:name=".activity.OrdersuccessfullyActivity"
            android:screenOrientation="portrait" /> <!-- 订单提交结果 -->
        <activity
            android:name=".activity.PlatformshoppingcartActivity"
            android:screenOrientation="portrait" /> <!-- 购物车 -->
        <activity
            android:name=".activity.MycollectionActivity"
            android:screenOrientation="portrait" /> <!-- 我的收藏 -->
        <activity
            android:name=".activity.BrowsingActivity"
            android:screenOrientation="portrait" /> <!-- 浏览痕迹 -->
        <activity
            android:name=".activity.MyaddressActivity"
            android:screenOrientation="portrait" /> <!-- 我的地址 -->
        <activity
            android:name=".activity.MyscoreActivity"
            android:screenOrientation="portrait" /> <!-- 我的积分 -->
        <activity
            android:name=".activity.MymessageActivity"
            android:screenOrientation="portrait" /> <!-- 我的消息 -->
        <activity
            android:name=".activity.BusinessresidenceActivity"
            android:screenOrientation="portrait" /> <!-- 商家入驻 -->
        <activity
            android:name=".activity.RestaurantbusinessinActivity"
            android:screenOrientation="portrait" /> <!-- 在线预订商家 -->
        <activity
            android:name=".activity.HotelbusinessinActivity"
            android:screenOrientation="portrait" /> <!-- 酒店商家入驻 -->
        <activity
            android:name=".activity.MallmerchantsbusinessinActivity"
            android:screenOrientation="portrait" /> <!-- 商城商家入驻 -->
        <activity
            android:name=".activity.DownloadappActivity"
            android:screenOrientation="portrait" /> <!-- App下载页面 -->
        <activity
            android:name=".activity.OperationvideoActivity"
            android:screenOrientation="portrait" /> <!-- 操作视频 -->
        <activity
            android:name=".activity.RestaurantOrderActivity"
            android:screenOrientation="portrait" /> <!-- 饭店订单 -->
        <activity
            android:name=".activity.ShoporderdetailsActivity"
            android:screenOrientation="portrait" /> <!-- 订单详情 -->
        <activity
            android:name=".activity.ShoporderdsendetailsActivity"
            android:screenOrientation="portrait" /> <!-- 待发货订单详情 -->
        <activity
            android:name=".activity.CheckthelogisticsActivity"
            android:screenOrientation="portrait" /> <!-- 查看物流 -->
        <activity
            android:name=".activity.WithdrawalActivity"
            android:screenOrientation="portrait" /> <!-- 余额提现 -->
        <activity
            android:name=".activity.WithdrawalresultsActivity"
            android:screenOrientation="portrait" /> <!-- 提现结果 -->
        <activity
            android:name=".activity.ShoporderforthegoodsdetailsActivity"
            android:screenOrientation="portrait" /> <!-- 待收货订单详情 -->
        <activity
            android:name=".activity.ToevaluateActivity"
            android:screenOrientation="portrait" /> <!-- 待评价 -->
        <activity
            android:name=".activity.HotelorderdetailsActivity"
            android:screenOrientation="portrait" /> <!-- 酒店订单详情 -->
        <activity
            android:name=".activity.HotelordercancleActivity"
            android:screenOrientation="portrait" /> <!-- 订单取消 -->
        <activity
            android:name=".activity.HotelorderevaluationdetailsActivity"
            android:screenOrientation="portrait" /> <!-- 酒店订单待评价详情界面 -->
        <activity
            android:name=".activity.HotelordergotoevaluationActivity"
            android:screenOrientation="portrait" /> <!-- 酒店订单待评价 -->
        <activity
            android:name=".activity.HotelordercancledetailsActivity"
            android:screenOrientation="portrait" /> <!-- 酒店订单取消详情 -->
        <activity
            android:name=".activity.ShopordersendetailsrefundActivity"
            android:screenOrientation="portrait" /> <!-- 商城申请退款 -->
        <activity
            android:name=".activity.ClassificationofgoodsActivity"
            android:screenOrientation="portrait" /> <!-- 分类页详细 -->
        <activity
            android:name=".activity.MallMainActivity"
            android:screenOrientation="portrait" /> <!-- 全面屏 -->
        <!-- 地址选择 -->
        <activity
            android:name=".activity.NewaddressActivity"
            android:screenOrientation="portrait" /> <!-- 新增地址 -->
        <activity
            android:name=".activity.ShareLocationActivity"
            android:screenOrientation="portrait" /> <!-- 添加新地址 -->
        <activity
            android:name=".activity.MesettingActivity"
            android:screenOrientation="portrait" /> <!-- 个人中心设置界面 -->
        <activity
            android:name=".activity.ModifyaboutusActivity"
            android:screenOrientation="portrait" /> <!-- 关于我们 -->
        <activity
            android:name=".activity.ModifyfeedbackActivity"
            android:screenOrientation="portrait" /> <!-- 意见反馈 -->
        <activity
            android:name=".activity.ModifythepasswordActivity"
            android:screenOrientation="portrait" /> <!-- 忘记密码 -->
        <activity
            android:name=".activity.ModifythephoneActivity"
            android:screenOrientation="portrait" /> <!-- 手机号码修改 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.zskjprojectj.andouclient"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9efdb99b9d490c4eda5af7f40cffeccf" /> <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>